absl-py==1.4.0
array-record==0.4.0
asgiref==3.7.2
astunparse==1.6.3
Babel==2.12.1
beautifulsoup4==4.12.2
cachetools==5.3.1
certifi==2023.5.7
chardet==3.0.4
charset-normalizer==3.2.0
chex==0.1.82
click==8.1.4
clu==0.0.9
colorama==0.4.6
contextlib2==21.6.0
diff-match-patch==20230430
Django==4.2.3
django-cors-headers==4.2.0
dm-tree==0.1.8
docstring-parser==0.15
editdistance==0.6.2
etils==1.4.1
filelock==3.12.2
flatbuffers==1.12
flax==0.7.1
fsspec==2023.6.0
future==0.18.3
gast==0.4.0
gensim==4.3.1
gin-config==0.5.0
google-auth==2.22.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.60.0
googletrans==3.1.0a0
grpcio==1.56.2
h11==0.9.0
h2==3.2.0
h5py==3.9.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.16.4
hyperframe==5.2.0
idna==2.10
immutabledict==3.0.0
importlib-resources==6.0.1
iso639==0.1.4
jax==0.4.14
jaxlib==0.4.14
Jinja2==3.1.2
joblib==1.3.1
keras==2.9.0
Keras-Preprocessing==1.1.2
langdetect==1.0.9
libclang==16.0.6
lxml==4.9.3
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
mesh-tensorflow==0.1.21
ml-collections==0.1.1
ml-dtypes==0.2.0
mpmath==1.3.0
msgpack==1.0.5
nest-asyncio==1.5.7
networkx==3.1
nltk==3.8.1
numpy==1.25.2
oauthlib==3.2.2
opt-einsum==3.3.0
optax==0.1.7
orbax-checkpoint==0.3.2
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
portalocker==2.7.0
promise==2.3
protobuf==3.20.3
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyglove==0.4.2
Pygments==2.16.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.5.2
rouge-score==0.1.2
rsa==4.9
sacrebleu==2.3.1
sacremoses==0.0.53
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.11.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
seqio-nightly==0.0.15.dev20230807
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
soupsieve==2.4.1
sqlparse==0.4.4
sympy==1.12
t5==0.9.4
tabulate==0.9.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.9.0
tensorflow-hub==0.14.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.13.1
tensorflow-text==2.9.0
tensorstore==0.1.40
termcolor==2.3.0
tfds-nightly==4.9.2.dev202308070033
threadpoolctl==3.1.0
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
transformers==4.30.2
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.16
Werkzeug==2.3.6
wikipedia==1.4.0
wrapt==1.15.0
zipp==3.16.2
